:root {
  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  --primary-color: #e0354c;
  --text-color: #333;
}

.App-header {
  display: flex;
  align-items: center;
  color: var(--primary-color);
  border-bottom: 3px solid var(--primary-color);
}

.App-header img {
  height: 200px;
  width: 200px;
}
